<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>homepage</title>
        <link rel="stylesheet" href="/css/style.css" />
        
    </head>

   
    <body>
        <header>
           <nav>
               <div class="navbarItems">
                    <li><a href="http://localhost:8000/">Home</a></li>
                    <li>
                        {{#if loggedIn}}
                        <a href="/dashboard">Dashboard</a>
                        {{else}}
                        <a href="/login">Dashboard</a>
                        {{/if}}
                    </li>
                    <li><a href="http://localhost:8000/login">Login</a></li>
               </div>

               <div class ="blogTitle">
                 Tech Blog
               </div>
               
           </nav> 
        </header>

        <main>
            <div class="body">{{{body}}}</div>
         </main>
         
    </body>
</html>