<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Javascript Quiz</title>
        <link rel="stylesheet" href="/css/style.css" />
        
    </head>
    <main>
        {{body}}
    </main>
   
    <body>
        
         
    </body>
</html>