
 
    <h2>Login</h2>
      
        <label>Email:</label>
        <input type="text"/>
    
     
        <label>Password:</label>
        <input type="password"/>
     
     
        <button type="submit">Login</button>
  

  
    <h2>Signup</h2>
    
     
        <label>Username:</label>
        <input type="text"/>
     
    
        <label>Email:</label>
        <input  type="text"/>
     
    
        <label for="password-signup">Password:</label>
        <input type="password"/>
     
    
        <button type="submit">Signup</button>
 

